* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Esto baja el 16px por defecto a 10px
    para que 1 rem quede a 10 px */
}

main {
  background-color: orangered;
  width: 100%;
  height: 150px;
}

p {
  font-size: 16px;
}

.rem-test {
  font-size: 1rem;
  /* Con el ajuste de la línea 8 esto queda en 10px */
}

.rem-test2 {
  font-size: 2rem;
  /* Con el ajuste de la línea 8 esto queda en 20px */
}
